<ion-header>
  <ion-toolbar>
    <ion-title>版权声明</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text>
          <h3>用户须知</h3>
          <ul>
            <li>为提高用户体验，本站采用了本地存储，请确保本地存储开启</li>
            <li>用户可以随意上传文档内容，但请确保您有相应的版权信息，本站不对版权进行负责</li>
            <li>您上传的文档内容将会公开分享给网站其他用户，如您有异议请不要上传文档</li>
            <li>本站存在不适合未成年的内容，如您未成年，请退出本站</li>
          </ul>
          <h3>版权声明：</h3>
          <p>本站小说均为转载作品，所有章节均由网友上传，转载至本站只是为了宣传本书让更多读者欣赏，请支持正版，如有侵权请联系管理员删除。</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
