<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{book && book.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="getPrePage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid *ngIf="book">
    <ion-row>
      <ion-col>
        <ion-text>
          {{book && book.content}}
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="getNextPage($event)" threshold="0.1%">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Getting more content...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>