<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{book && book.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="getPrePage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <app-commemoration-ad></app-commemoration-ad>
  <ion-grid *ngIf="book">
    <ion-row>
      <ion-col>
        <ion-text>
          {{book && book.content}}
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <img src="../../../assets/book_rent.jpg" style="width: 100%" />
  <app-commemoration-ad></app-commemoration-ad>
  <ion-row>
    <ion-col style="text-align: center;">
      <ion-button color="secondary" size="small" (click)="getPrePageContent()">上一页</ion-button>
    </ion-col>
    <ion-col style="text-align: center;">
      <ion-button color="primary" size="small" (click)="getNextPageContent()">下一页</ion-button>
    </ion-col>
  </ion-row>
  <app-commemoration-ad></app-commemoration-ad>
</ion-content>