<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>创新书店</ion-list-header>
          <ion-note>分享书籍，更多享受</ion-note>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="books" lines="none" detail="false" [class.selected]="selected == 'books'">
              <ion-icon slot="start" ios="book-outline" md="book-sharp"></ion-icon>
              <ion-label>Books</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/books/new']" lines="none" detail="false">
              <ion-icon slot="start" name="add-circle-outline"></ion-icon>
              <ion-label>Add Book</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/books', {'type': 'host'}]" lines="none" detail="false">
              <ion-icon slot="start" ios="heart-outline" md="heart-sharp"></ion-icon>
              <ion-label>最热书籍</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/books', {'type': 'reading'}]" lines="none" detail="false">
              <ion-icon slot="start" ios="reader-outline" md="reader-sharp"></ion-icon>
              <ion-label>正在看</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let type of bookTypes">
            <ion-item lines="none" routerDirection="root" [routerLink]="['/books',{'bookType': type}]">
              <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
              <ion-label>{{type}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="about">
            版权声明 | 联系我
          </ion-item>
        </ion-menu-toggle>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
